.root-atores {
    -fx-background-color: #151515;
    -fx-base: #151515;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
    -fx-font-family: Arial;
    -fx-text-fill: #F9F9F9;
}

.nav-menu-content {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: transparent;
}

.nav-menu-content:hover, .nav-menu-content.active {
    -fx-fill: #ED315C;
    -fx-text-fill: #ED315C;
    -fx-border-color: #ED315C;
    -fx-cursor: hand;
}

.root-atores-listar, .root-atores-adicionar, .root-atores-editar {
    -fx-fill: #ED315C!important;
}

Text {
    -fx-fill: #F9F9F9;
    -fx-font-weight: 600;
    -fx-font-size: 16px;
}

ListView {
    -fx-background-color: #262626;
    -fx-text-fill: #F9F9F9;
}

.action-button {
    -fx-font-weight: bold;
}