.root {
    -fx-background-color: #262626;
    -fx-base: #262626;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
    -fx-font-family: Arial;
    -fx-text-fill: #F9F9F9;
}

.header-box {
    -fx-background-color: #2C2C2C;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #EF9E34;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.field-title {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-fill: #989898;
    -fx-text-fill: #989898;
}

.field {
    -fx-font-size: 13px;
    -fx-fill: #F9F9F9;
    -fx-text-fill: #F9F9F9;
    -fx-border-width: 1px;
    -fx-border-color: #989898;
    -fx-border-radius: 5px;
}

ScrollPane {
    -fx-background-color: #262626;
    -fx-background: #262626;
}

.border-container {
    -fx-border-width: 1px;
    -fx-border-color: #323232;
    -fx-border-radius: 8px!important;
}

TextField, TextArea, ComboBox, DatePicker, PasswordField, ListView {
    -fx-background-color: #323232!important;
    -fx-text-fill: #F9F9F9;
    -fx-fill: #F9F9F9;
    -fx-font-weight: bold;
    -fx-border-radius: 3px;
    -fx-control-inner-background: #323232!important;
    -fx-prompt-text-fill: #F9F9F9!important;
}

DatePicker > .text-field {
    -fx-prompt-text-fill: #F9F9F9!important;
}

.action-filtrar-button {
    -fx-background-color: #323232;
    -fx-text-fill: #F9F9F9;
    -fx-font-weight: bold;
    -fx-border-radius: 3px;
}

.action-filtrar-button:hover {
    -fx-background-color: #2C2C2C;
}