.left-menu {
    -fx-background-color: #2C2C2C;
}

.menu-title {
    -fx-background-color: #EF9E34;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.nav-menu {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-font-weight: bold;
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-width: 3;
    -fx-border-color: transparent;
}

.nav-menu:hover {
    -fx-background-color: #333333;
    -fx-cursor: hand;
}

.nav-menu.active {
    -fx-background-color: #333333;
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-width: 3;
    -fx-border-color: #EF9E34;
}

.close-button {
    -fx-background-color: #262626;
    -fx-text-fill: #F9F9F9;
    -fx-font-weight: bold!important;
    -fx-border-radius: 3px;
    -fx-font-size: 14px;
}

.close-button:hover {
    -fx-background-color: #EF9E34;
    -fx-text-fill: #F9F9F9;
    -fx-font-weight: bold!important;
    -fx-font-size: 14px;
    -fx-border-radius: 3px;
}

.greetings-container {
    -fx-border-style: solid hidden hidden hidden;
    -fx-border-width: 3;
    -fx-border-color: #262626;
}

.greetings {
    -fx-font-size: 12px;
}

.user {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}