@import "./top_menu.css";
@import "./left_menu.css";
@import "./eventos.css";
/*@import "./atores.css";*/
/*@import "./filmes.css";*/

.root {
    -fx-background-color: #262626;
    -fx-base: #262626;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
    -fx-font-family: Arial;
    -fx-text-fill: #F9F9F9;
    -fx-border-radius: 8px!important;
    -fx-background-radius: 8px!important;
    -fx-border-width: 1px;
    -fx-border-color: #808080;
}

.nav-menu-content {
    -fx-background-color: transparent;
    -fx-text-fill: #F9F9F9!important;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: transparent;
    -fx-font-weight: bold;
}

.nav-menu-content:hover, .nav-menu-content.active {
    -fx-fill: #EF9E34!important;
    -fx-text-fill: #EF9E34!important;
    -fx-border-color: #EF9E34!important;
    -fx-cursor: hand;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.field-title {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.action-button {
    -fx-font-weight: bold;
}

Text {
    -fx-fill: #F9F9F9;
    -fx-font-weight: 600;
    -fx-font-size: 16px;
}

TextField, TextArea, ComboBox, DatePicker, PasswordField, CheckBox, RadioButton, ToggleButton, Button, ListView, TableView, TableColumn, TitledPane, Accordion, Pagination, ProgressIndicator, ProgressBar, Slider, ScrollBar, ScrollPane, TabPane, Tab, SplitPane, Separator, MenuBar, Menu, MenuItem, ContextMenu, ColorPicker, ChoiceBox, Spinner, Hyperlink, Label, Tooltip, TreeView, TreeTableView, TreeItem, AnchorPane, BorderPane, GridPane {
    -fx-text-fill: #F9F9F9!important;
    -fx-fill: #F9F9F9!important;
    -fx-prompt-text-fill: #F9F9F9!important;

}

.jfx-text-field {
    -fx-prompt-text-fill: #989898;
}

.top-bar {
    -fx-background-color: #262626;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #EF9E34;
    -fx-background-radius: 8px 8px 0 0;
}

.top-bar-button {
    -fx-background-color: #262626;
    -fx-text-fill: #F9F9F9;
    -fx-font-weight: 400;
    -fx-border-radius: 0!important;
    -fx-background-radius: 0!important;
}

.top-bar-button:hover {
    -fx-background-color: #323232;
}

.top-bar-button.close {
    -fx-background-radius: 0 8px 0 0!important;
}

.top-bar-button.close:hover {
    -fx-background-color: #ED315C;
}

.left-menu {
    -fx-background-radius: 0 0 0 8px!important;
    -fx-border-radius: 0 0 0 8px!important;
}

.error-message {
    -fx-text-fill: #ED315C!important;
    -fx-fill: #ED315C!important;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
}